# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore preprocessed/large data files
data/processed/*.csv
data/processed/**/*.csv

# Optional: ignore raw CSVs you don't want to push
# data/raw/*.csv
# data/raw/**/*.csv
# data/raw/**/*.zip
